#reordenable tr {
    cursor: move;
}

.contenedor-totales
{
    display:flex;
    justify-content: space-around;
    font-size:26px;
    text-align:center;
}

.activo 
{
    color:blue;
}

.pasivo
{
    color:red;
}


.bground
{
    background-color: #f6f5f6;
    border:#1a1a1a;
    padding: 3px;
    box-sizing:border-box;
}